*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
   height: 100 vh;
   place-items:center center;
}
.container{
    
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
   padding :20px;
   grid-gap:40px;
  
}; 


.card{
    width: 15%;
    height:150px;
    margin-bottom:50 px;
   
};
